---
import Layout from '../layouts/Layout.astro';
import { loadTranslations } from '../utils/i18n';
const translations = await loadTranslations('es');
---

<Layout title="Martín Fogliacco | Portfolio">
  <h1>{translations.greeting}</h1>
</Layout>

